.app{
    min-height: 100vh;
}
.picker{
    min-height: 100vh;

    &__title{
        font-size: 18px;
        font-weight: 600;
    }

    &__column{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    &__picker-info{
        padding: 0.5em;
    }

    &__selected-color{
        width: 100px;
        height: 100px;
        border-radius: 10px;
        border: 1px solid rgba(210, 203, 203, 0.45);
    }

    &__sliders{
        margin-top: 2em;
    }

    .btn-info{
        width: 130px;
    }

}
.canvas-div{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.slider-picker > div:nth-child(2){
    display: none;
}

.picker__pickers > div:nth-child(2) > div > div:nth-child(4){
    display:none !important;
}